rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow access to the resumes folder if the user is authenticated and matches the userId
    match /resumes/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    // Default rule (deny all)
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
